---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: &app docuseal
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  targetNamespace: default
  suspend: false
  #dependsOn:
  #  - name: cluster-apps-external-secrets-stores
  #  - name: cluster-apps-cloudnative-pg
  #  - name: cluster-apps-ingress-nginx-internal
  path: ./kubernetes/apps/default/docuseal/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  retryInterval: 1m
  timeout: 3m
